.profile-info__name {
    margin: 0;
    font-size: 42px;
    font-weight: 500;
    grid-area: name;
    line-height: .8;
}

@media screen and (max-width: 767px) {
    .profile-info__name {
        font-size: 27px;
    }
}